
@{
	
	ViewData["Title"] = "Card Details";
	
	Card card = TempData["card"] as Card;
	Account account = TempData["account"] as Account;

}

<h1>@account.FirstName's Card Details</h1>

<div>
	@if(card != null) {

		<h4>Card Holder</h4>
		<p>@account.FirstName @account.LastName</p>

		<h4>Card Number</h4>
		<p>@card.CardNumber</p>

		<h4>Card Pin</h4>
		<p>@card.CardPin</p>

		<!-- Edit button -->
		<form asp-action="Edit" asp-controller="Cards" method="post">
			<input type="hidden" asp-for="@account.Id" value="@account.Id">
			<button type="submit" class="btn btn-primary col-lg-3 col-12 my-3 py-3">Edit</button>
		</form>

	} else {
		<h4>This account has no cards</h4>
	}
	<!-- Go Back Button -->
	<a asp-action="Index" asp-controller="Accounts"><button class="btn btn-danger col-lg-3 col-12 my-3 py-3">Go Back</button></a>

</div>
