@{
	ViewData["Title"] = "Details";
	Customer customer = TempData["customerTemp"] as Customer;
}

<h1>@customer.FirstName's Details</h1>


<!-- layout that shows customer data -->
<div>
	
	<h4>Name</h4>
	<p>@customer.FirstName @customer.LastName </p>

	<h4>Address</h4>
	<p>@customer.Address</p>
	
	<h4>Age</h4>
	<p>@customer.Age</p>
	
	<h4>Salary</h4>
	<p>	£@customer.Salary</p>
</div>